<h1>About</h1>
<p>
	I made this site after getting frustrated with how many unfinished song
	ideas I had lying around. I've had some great success emailing riffs back
	and forth with friends, but also some awkwardness if one of us doesn't
	like the other's song enough to reply. Why not have an online bulletin
	board of music ideas and allow visitors to respond to the ones that speak
	to them?
</p>
