<h1>Post</h1>
<p>This site is basically a filtered bulletin board of SoundCloud players.<br>
  	To post an idea, first upload it to SoundCloud, then paste its share link<br>
	(ex: http://soundcloud.com/username/etc...) into the first box below.
</p>
<div>
  <aside>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
</div>
