<h1>Post</h1>
<p>This site is basically a filtered bulletin board of SoundCloud players.<br>
	After uploading your idea to SoundCloud, copy the share link into the first
	box.<br>Here's an example of a link:
	http://soundcloud.com/user_name/song_name.
</p>
<div>
  <aside>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
</div>
