$navbarBackground: black;
$navbarBackgroundHighlight: black;
$navbarText: white;
$navbarBrandColor: white;
$navbarLinkColor: white;
$navbarLinkColorHover: lightGray;
$navbarLinkColorActive: lightGray;
$navbarLinkBackgroundHover: black;
$navbarLinkBackgroundActive: black;
$navbarSearchBackground: white;
$navbarSearchBackgroundFocus: white;
$navbarSearchBorder: white;
$navbarSearchPlaceholderColor: white;
$linkColor: blue;

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0px;
  margin-bottom: 16px;
  text-align: left;
  font-weight: normal;
  color: #363636;
}

h3 {
  font-size: 1.3em;
  letter-spacing: 0px;
  margin-top: 14px;
  margin-bottom: 18px;
  text-align: center;
  font-weight: normal;
  color: #363636;
}

p {
  font-size: 1.2em;
  line-height: 1em;
}

/* header */

#logo {
  float: left; 
  margin-right: 10px;
  font-size: 1.8em;
  color: #fff;
  letter-spacing: 0px;
  padding-top: 10px;
  font-weight: normal;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 0px) {
  .container{
    max-width: 800px;
  }
}